*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-image: url(banner.jpg);
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position:left;
    background-size: 30%;
}
#encabezado{
    display: block;
    text-align: right;
    font-size: 20px;
    position:absolute;
    right: 0;
    margin: 40px;
    
}
#encabezado b {
    color: #F25430;
}
header h1{
    color: #1c21c6;
    font-family:  "Signika", serif;
    position: absolute;
}
footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer h3{
    color: #1c21c6;
    font-family: "Signika", serif;
    text-align: center;
}
